* {
    margin: 0;
    padding: 0;
}

div {

}

body {
    background-color: indianred;
}

.container{
    display:flex;
}

.logo {
    box-sizing: border-box;
}

.logo img {
    width: 250px;
    height: auto;
}

.info_bar{
    box-sizing: border-box;

}

.page_name{
    font-size: 6em;
}

nav {
    background-color: deepskyblue;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

li {
    display: inline;
    margin-right: 100px;

}

a {
    text-decoration: none;
    color: white;
}

.container-content {
    display: flex;
    justify-content: right;
    align-items: center;


}

.container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.inloggen {
    background-color: red;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
}
.Registreren {
    background-color: red;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
}

.links {
    background-color: purple;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    
}

.container-links {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 270px;
}

.sidebar{
    margin-right: 100px;
}
@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container-content {
        flex-direction: column;
        align-items: center;
    }
    .container-links {
        margin-left: 0px;
    }
    li {
        margin-right: 20px;
    }
    .sidebar {
        margin-right: 0px;
    }
}

